{%- liquid
  assign s = s
  assign style = pagination_style | default: 'numbered'
-%}

{%- if paginate.pages > 1 -%}
  <nav class="qcmPagination" role="navigation" aria-label="Pagination">
    {%- if style == 'numbered' -%}
      <div class="qcmPagination__parts">
        {%- if paginate.previous -%}
          <a class="qcm__btn" href="{{ paginate.previous.url }}" data-qcm-ajax-link aria-label="Previous page">Prev</a>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <a class="qcm__btn" href="{{ part.url }}" data-qcm-ajax-link aria-label="Page {{ part.title }}">{{ part.title }}</a>
          {%- else -%}
            <span class="qcm__btn" aria-current="page">{{ part.title }}</span>
          {%- endif -%}
        {%- endfor -%}

        {%- if paginate.next -%}
          <a class="qcm__btn" href="{{ paginate.next.url }}" data-qcm-ajax-link aria-label="Next page">Next</a>
        {%- endif -%}
      </div>
    {%- else -%}
      {%- if paginate.next -%}
        <div class="qcmPagination__parts">
          <a class="qcm__btn" href="{{ paginate.next.url }}" data-qcm-loadmore>
            {{ s.load_more_label | default: 'Load more' }}
          </a>
        </div>

        {%- if style == 'infinite_scroll' -%}
          <div data-qcm-sentinel data-next-url="{{ paginate.next.url }}" style="height:1px;"></div>
        {%- endif -%}

        <noscript>
          <div class="qcmPagination__parts" style="margin-top:10px;">
            <a class="qcm__btn" href="{{ paginate.next.url }}">Next</a>
          </div>
        </noscript>
      {%- endif -%}
    {%- endif -%}
  </nav>
{%- endif -%}