{%- liquid
  assign s = s
  assign style = pagination_style | default: 'numbered'
-%}

{%- if paginate.pages <= 1 -%}
  {%- break -%}
{%- endif -%}

{%- if style == 'numbered' -%}
  <nav class="qcmPagination" role="navigation" aria-label="Pagination">
    <div class="qcmPagination__parts">
      {%- if paginate.previous -%}
        <a class="qcm__btn" href="{{ paginate.previous.url }}" aria-label="Previous page">Prev</a>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <a class="qcm__btn" href="{{ part.url }}">{{ part.title }}</a>
        {%- else -%}
          <span class="qcm__btn" aria-current="page">{{ part.title }}</span>
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <a class="qcm__btn" href="{{ paginate.next.url }}" aria-label="Next page">Next</a>
      {%- endif -%}
    </div>
  </nav>

{%- else -%}
  {%- comment -%}
    load_more / infinite_scroll (progressive enhancement)
    - Button drives fetch + append
    - Sentinel triggers for infinite scroll
    - Noscript provides normal link
  {%- endcomment -%}

  <div class="qcmPagination" data-qcm-pager data-next-url="{% if paginate.next %}{{ paginate.next.url }}{% endif %}">
    {%- if paginate.next -%}
      <button class="qcm__btn" type="button" data-qcm-load-more>
        Load more
      </button>

      {%- if style == 'infinite_scroll' -%}
        <div data-qcm-sentinel style="height:1px;"></div>
      {%- endif -%}

      <noscript>
        <a class="qcm__btn" href="{{ paginate.next.url }}">Next</a>
      </noscript>
    {%- endif -%}
  </div>
{%- endif -%}